<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">

    <h4 class="tituloCredito">Prendario</h4>
    <br>
    <h4>Estatus de las líneas:</h4>
    <br>

    <div class="row">
      <div class="col-lg-4">
        <div class="estatusLinea"><label>Solicitud</label></div>
      </div>
      <div class="col-lg-4">
        <div class="estatusLinea"><label>Recalificación</label></div>
      </div>
      <div class="col-lg-4">
        <div class="estatusLinea"><label>Recalificación con aumento</label>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <br>
        <br>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Modalidad</mat-label>
          <mat-select [(value)]="modalidad">
            <mat-option value="1">CD y BP</mat-option>
            <mat-option value="2">Bursatíl</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div *ngIf="modalidad==1">
          <mat-form-field appearance="fill">
            <mat-label>Destino</mat-label>
            <mat-select [(value)]="destino">
              <mat-option value="1">Apoyar la  comercialización</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="modalidad==2">
          <mat-form-field appearance="fill">
            <mat-label>Destino</mat-label>
            <mat-select [(value)]="destino">
              <mat-option value="1">Compra de acciones</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>


    <div class="row" *ngIf="modalidad==1">
      <div class="col-lg-4">
        <mat-form-field appearance="fill">
          <mat-label>Mercancia o Bien depositado</mat-label>
          <input [(ngModel)]='merca' type="text" matInput>
        </mat-form-field>

        <table>
          <tr *ngFor="let item of lista2">
            <td>
              {{item.merca}}
            </td>
            <td>
              {{item.aforo}}%
            </td>
          </tr>
        </table>
      </div>
      <div class="col-lg-4">
        <mat-form-field appearance="fill">
          <mat-label>Aforo</mat-label>
          <input max="100" min="80" (keyup)="funcioneRevision80()" [(ngModel)]='aforo' type="number" matInput>
        </mat-form-field>
        <div class="typElement">
          <p>%</p>
        </div>
      </div>
      <div class="col-lg-4">
        <button mat-button class="boton-verpormas" (click)="addlista2()">Agregar</button>
      </div>
    </div>


    <!-- <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div *ngIf="modalidad==1">
          <mat-form-field appearance="fill">
            <mat-label>Mercancía o bien depositado</mat-label>
            <mat-select [(value)]="Merca">
              <mat-option value="1">Maiz</mat-option>
              <mat-option value="2">Frijol</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div> -->

    <div class="row">

      <div class="col-lg-4">
        <h4>Moneda</h4>
        <mat-form-field class="example-full-width">
          <mat-label>Moneda</mat-label>
          <mat-select [(value)]="moneda">
            <mat-option value="1">Pesos</mat-option>
            <mat-option value="2">Dólares</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>

    <div class="row">

      <div class="col-lg-4">
        <h4>Forma de Disposición</h4>
        <mat-form-field class="example-full-width">
          <mat-label></mat-label>
          <mat-select [(value)]="formaDispo">
            <mat-option value="1">Varias Disposiciones </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>

    <div class="row">

      <div class="col-lg-4">
        <h4>Forma de Disposición</h4>
        <mat-form-field class="example-full-width">
          <mat-label>Plazo máximo de disposición</mat-label>
          <mat-select [(value)]="plazoMaxi">
            <mat-option value="5" *ngIf="modalidad==2" >30 Días</mat-option>
            <mat-option value="1" *ngIf="modalidad==1">90 Días</mat-option>
            <mat-option value="2" *ngIf="modalidad==1">180 Días</mat-option>
            <mat-option value="3" *ngIf="modalidad==1">240 Días</mat-option>
            <mat-option value="4" *ngIf="modalidad==2" >180 Días</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="(plazoMaxi==1 || plazoMaxi==2 || plazoMaxi==3) && modalidad==1">
          <h6>Sin exceder 10 días antes del vencimiento del CD y BP</h6>
        </div>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>

    <div class="row">

      <div class="col-lg-4">
        <h4>Plazos</h4>
        <mat-form-field class="example-full-width widthPLazo">
          <mat-label>PLazo del Contrato</mat-label>
          <mat-select [(ngModel)]='plazContra'>
            <mat-option value="36">12</mat-option>
            <mat-option value="48">24</mat-option>
            <mat-option value="60">36</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="typElement">
          <p>Meses</p>
        </div>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>

    <h4>Forma de pago de capital</h4>
    <div class="row">
      <div class="col-lg-4">


        <mat-form-field class="example-full-width">
          <mat-label>Forma de pago de capital</mat-label>
          <mat-select [(ngModel)]='FormaCapital'>
            <mat-option value="1">Mensual</mat-option>
            <mat-option value="2">Trimestral</mat-option>
            <mat-option value="3">A vencimiento</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="FormaCapital==1">
          <h5>Día Natural / Fin Mes</h5>
        </div>
      </div>

      <div class="col-lg-4">
        <mat-form-field class="example-full-width">
          <mat-label>Armortizaciones</mat-label>
          <mat-select [(ngModel)]='armoti'>
            <mat-option value="1">Iguales</mat-option>
            <mat-option value="2">Crecimiento</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-4"></div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <mat-form-field class="example-full-width">
          <mat-label>Forma de pago de interes</mat-label>
          <mat-select [(ngModel)]='pagointres'>
            <mat-option value="1">Mensual</mat-option>
            <mat-option value="2">A vencimiento</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <div *ngIf="pagointres==2">
          <mat-form-field class="example-full-width">
            <mat-label>Capitaliza</mat-label>
            <mat-select [(ngModel)]='Capitaliza'>
              <mat-option value="1">Si</mat-option>
              <mat-option value="2">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>

    <h4>Tasas</h4>
    <div class="row">
      <div class="col-lg-4">
        <mat-form-field class="example-full-width">
          <mat-label class="letraSize">Tasa</mat-label>
          <mat-select #sel (selectionChange)="modalidadTasa1(sel.value)" [(value)]="tasa">
            <mat-option value="1">Variable</mat-option>
            <mat-option value="2">Fija</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="tasabase==2">
          <mat-form-field appearance="fill">
            <mat-label class="letraSize">Margen</mat-label>
            <input min="1.01" max="1.99" step=".01" [(ngModel)]='margen' (keyup)="funcioneRevision2()" type="number"
              matInput>
          </mat-form-field>
          <div class="typElement">
            <p>PP</p>
          </div>
          <p>Formato 1.XX PP</p>
        </div>
        <div *ngIf="tasabase == 1">
          <mat-form-field appearance="fill">
            <mat-label class="letraSize labelNegro">Tasa moratoria</mat-label>
            <input [(ngModel)]="tasaMorafija" class="labelNegro" [disabled]="true" #sel1 (blur)="pptos()" type="text"
              matInput>
          </mat-form-field>
        </div>
        <!-- <div *ngIf="tasa == 2">
              <mat-form-field appearance="fill">
                <mat-label class="letraSize">Tasa moratoria</mat-label>
                <input [(ngModel)]="tasaMora" id="tasamora" (click)="limpiar()" #sel1 (blur)="pptos()" type="number" matInput>
              </mat-form-field>
            </div>     -->
      </div>

      <div class="col-lg-4">
        <div *ngIf="tasa==1">
          <div *ngIf="moneda==1">
            <mat-form-field class="example-full-width">
              <mat-label class="letraSize">Tasa Base</mat-label>
              <mat-select [(value)]="tasabase">
                <mat-option value="1">TIIE </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="moneda==2">
            <mat-form-field class="example-full-width">
              <mat-label class="letraSize">Tasa Base</mat-label>
              <mat-select [(value)]="tasabase">
                <mat-option value="2">LIBOR</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="tasa==2">
          <mat-form-field appearance="fill">
            <mat-label class="letraSize">Margen</mat-label>
            <input min="1.01" max="1.99" step=".01" [(ngModel)]='margen' (keyup)="funcioneRevision2()" type="number"
              matInput>
          </mat-form-field>
          <div class="typElement">
            <p>PP</p>
          </div>
          <p>Formato 1.XX PP</p>
        </div>

        <!-- <div *ngIf="tasabase == 1 && tasa== 1">
              <mat-form-field appearance="fill">
                <mat-label class="letraSize">Tasa moratoria</mat-label>
                <input [(ngModel)]="tasaMora" id="tasamora" (click)="limpiar()" #sel1 (blur)="pptos()" type="number" matInput>
              </mat-form-field>
            </div>   -->
        <div *ngIf="tasabase == 2 && tasa== 1">
          <mat-form-field appearance="fill">
            <mat-label class="letraSize labelNegro">Tasa moratoria</mat-label>
            <input class="labelNegro" [(ngModel)]="tasaMorafija" [disabled]="true" #sel1 (blur)="pptos()" type="text"
              matInput>
          </mat-form-field>
        </div>


        <div *ngIf="tasabase == 1 && pagoInteres == 1">
          <mat-form-field appearance="fill">
            <mat-label class="letraSize labelNegro">Tasa moratoria</mat-label>
            <input class="labelNegro" value="TIIE 30 Días" [disabled]="true" #sel1 (blur)="pptos()" type="text"
              matInput>
          </mat-form-field>
        </div>


      </div>

      <div class="col-lg-4">
        <div *ngIf="tasa == 2">
          <mat-form-field appearance="fill">
            <mat-label class="letraSize labelNegro">Tasa moratoria</mat-label>
            <input class="labelNegro" [(ngModel)]="tasaMorafija" [disabled]="true" #sel1 (blur)="pptos()" type="text"
              matInput>
          </mat-form-field>
        </div>
        <div *ngIf="tasabase==2">
          <mat-form-field class="example-full-width">
            <mat-label class="letraSize">LIBOR</mat-label>
            <mat-select [(value)]="libor">
              <mat-option value="1">30</mat-option>
              <!-- <mat-option value="2">60</mat-option>
              <mat-option value="3">90</mat-option> -->
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="tasabase==1">
          <mat-form-field appearance="fill">
            <mat-label class="letraSize">Margen</mat-label>
            <input min="1.01" max="1.99" step=".01" [(ngModel)]='margen' (keyup)="funcioneRevision2()" type="number"
              matInput>
          </mat-form-field>
          <div class="typElement">
            <p>PP</p>
          </div>
          <p>Formato 1.XX PP</p>
        </div>
        <!-- <div  *ngIf="tasabase == 2 && tasa== 1">
              <mat-form-field appearance="fill">
                <mat-label class="letraSize">Tasa moratoria</mat-label>
                <input [(ngModel)]="tasaMora" id="tasamora" (click)="limpiar()" #sel1 (blur)="pptos()" type="number" matInput>
              </mat-form-field>
            </div> -->
      </div>

    </div>
    <br>
    <mat-slide-toggle [(ngModel)]="newTasa">Agregar otra tasa?</mat-slide-toggle>
    <br>
    <br>
    <div *ngIf="newTasa==true">
      <h4>Tasas 2</h4>
      <div class="row">
        <div class="col-lg-4">
          <mat-form-field class="example-full-width">
            <mat-label class="letraSize">Tasa</mat-label>
            <mat-select #sel (selectionChange)="modalidadTasa2(sel.value)" [(value)]="tasa2">
              <mat-option value="1">Variable</mat-option>
              <mat-option value="2">Fija</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="tasabase2==2">
            <mat-form-field appearance="fill">
              <mat-label class="letraSize">Margen</mat-label>
              <input min="1.01" max="1.99" step=".01" [(ngModel)]='margen2' (keyup)="funcioneRevision22()" type="number"
                matInput>
            </mat-form-field>
            <div class="typElement">
              <p>PP</p>
            </div>
            <p>Formato 1.XX PP</p>
          </div>
          <div *ngIf="tasabase2 == 1">
            <mat-form-field appearance="fill">
              <mat-label class="letraSize labelNegro">Tasa moratoria</mat-label>
              <input [(ngModel)]="tasaMorafija2" class="labelNegro" [disabled]="true" #sel1 (blur)="pptos()" type="text"
                matInput>
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-4">
          <div *ngIf="tasa2==1">
            <div *ngIf="moneda==1">
              <mat-form-field class="example-full-width">
                <mat-label class="letraSize">Tasa Base</mat-label>
                <mat-select [(value)]="tasabase2">
                  <mat-option value="1">TIIE </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div *ngIf="moneda==2">
              <mat-form-field class="example-full-width">
                <mat-label class="letraSize">Tasa Base</mat-label>
                <mat-select [(value)]="tasabase2">
                  <mat-option value="2">LIBOR</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="tasa2==2">
            <mat-form-field appearance="fill">
              <mat-label class="letraSize">Margen</mat-label>
              <input min="1.01" max="1.99" step=".01" [(ngModel)]='margen2' (keyup)="funcioneRevision22()" type="number"
                matInput>
            </mat-form-field>
            <div class="typElement">
              <p>PP</p>
            </div>
            <p>Formato 1.XX PP</p>
          </div>
          <div *ngIf="tasabase2 == 2 && tasa2== 1">
            <mat-form-field appearance="fill">
              <mat-label class="letraSize labelNegro">Tasa moratoria</mat-label>
              <input class="labelNegro" [(ngModel)]="tasaMorafija2" [disabled]="true" #sel1 (blur)="pptos()" type="text"
                matInput>
            </mat-form-field>
          </div>


          <div *ngIf="tasabase2 == 1 && pagoInteres == 1">
            <mat-form-field appearance="fill">
              <mat-label class="letraSize labelNegro">Tasa moratoria</mat-label>
              <input class="labelNegro" value="TIIE 30 Días" [disabled]="true" #sel1 (blur)="pptos()" type="text"
                matInput>
            </mat-form-field>
          </div>

        </div>

        <div class="col-lg-4">
          <div *ngIf="tasa2 == 2">
            <mat-form-field appearance="fill">
              <mat-label class="letraSize labelNegro">Tasa moratoria</mat-label>
              <input class="labelNegro" [(ngModel)]="tasaMorafija2" [disabled]="true" #sel1 (blur)="pptos()" type="text"
                matInput>
            </mat-form-field>
          </div>
          <div *ngIf="tasabase2==2">
            <mat-form-field class="example-full-width">
              <mat-label class="letraSize">LIBOR</mat-label>
              <mat-select [(value)]="libor">
                <mat-option value="1">30</mat-option>
                <!-- <mat-option value="2">60</mat-option>
                <mat-option value="3">90</mat-option> -->
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="tasabase2==1">
            <mat-form-field appearance="fill">
              <mat-label class="letraSize">Margen</mat-label>
              <input min="1.01" max="1.99" step=".01" [(ngModel)]='margen2' (keyup)="funcioneRevision22()" type="number"
                matInput>
            </mat-form-field>
            <div class="typElement">
              <p>PP</p>
            </div>
            <p>Formato 1.XX PP</p>
          </div>
        </div>

      </div>
    </div>

    <h4>Comisiones</h4>
    <div class="row">
      <div class="col-lg-4">
        <mat-form-field class="example-full-width">
          <mat-label class="letraSize">Comision</mat-label>
          <mat-select [(value)]="comision">
            <mat-option value="Apertura">Apertura </mat-option>
            <mat-option value="Disposición">Disposición </mat-option>
            <mat-option value="Aniversario">Aniversario </mat-option>
            <mat-option value="Administración">Administración </mat-option>
            <mat-option value="Estructuración">Estructuración </mat-option>
          </mat-select>
        </mat-form-field>
        <table>
          <tr *ngFor="let item of lista">
            <td>
              {{item.comsion}}
            </td>
            <td>
              {{item.porcentaje}}%
            </td>
          </tr>
        </table>
      </div>
      <div class="col-lg-4">
        <mat-form-field appearance="fill">
          <mat-label class="letraSize">Comision</mat-label>
          <input [(ngModel)]='porComision' type="number"  min="1.01" max="1.59" step=".01" (keyup)="funcioneRevision()"
            matInput>
        </mat-form-field>
        <div class="typElement">
          <p>%</p>
        </div>
      </div>
      <div class="col-lg-4">
        <button mat-button class="boton-verpormas" (click)="addlista()">Agregar</button>
      </div>
    </div>

    <h4 *ngIf="modalidad==1">Otras condiciones</h4>
    <div class="row">
      <div class="col-lg-4">
        <div *ngIf="modalidad==1">
          <mat-form-field class="example-full-width">
            <mat-label>Almacenadoras autorizadas</mat-label>
            <mat-select [(value)]="almaAuto">
              <mat-option value="1">1 </mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-4"  *ngIf="modalidad==1">
        <mat-form-field class="example-full-width">
          <mat-label class="letraSize">Fuente de Fondeo </mat-label>
          <mat-select [(value)]="fondeo">
            <mat-option value="2">Propios</mat-option>
            <mat-option value="3">FIRA</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-4"></div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div *ngIf="modalidad==2">
          <mat-form-field appearance="fill">
            <mat-label>Deuda aforo</mat-label>
            <input type="number" matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-4">
        <div *ngIf="modalidad==2">
          <mat-form-field appearance="fill">
            <mat-label>Acciones de alta bursatilidad</mat-label>
            <input type="number" matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>

    <h4 *ngIf="modalidad==2">Llamada de margen</h4>
    <div class="row" *ngIf="modalidad==2">
      <div class="col-lg-4">
        <mat-form-field appearance="fill">
          <mat-label>Primera llamada aforo</mat-label>
          <input max="1.99" min="1.01" ng-focus="Limpia()" (blur)="formato()" type="text" [(ngModel)]="llamaAforo"
            matInput>
        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <mat-form-field appearance="fill">
          <mat-label>Segunda llamada ejecución</mat-label>
          <input type="number" matInput>
        </mat-form-field>
      </div>
      <div class="col-lg-4"></div>
    </div>


  </div>
  <div class="col-lg-1"></div>
</div>