<h1>Lista Productos</h1>
<ul>
    <li [routerLink]="['Credito_Cuneta_Corriente']">Crédito Cuenta Corriente.</li>
    <li [routerLink]="['Credito_Simple']">Crédito Simple.</li>
    <li [routerLink]="['Factoraje']">Factoraje.</li>
    <li [routerLink]="['Prendario']">Prendario.</li>
    <li [routerLink]="['Arrendamiento']">Arrendamiento.</li>
    <li [routerLink]="['Contigencia']">Contingentes.</li>
    <li [routerLink]="['Reconocimiento_Adeudo']">Reconocimiento de adeudo.</li>
</ul>
<router-outlet></router-outlet>