.mat-form-field{
    width: 85%;
}

.boton-verpormas{
    color: #fff;
    background-color:#C3D500;
    border-color:#C3D500;
    font-family: Duplicate Slab;
    margin-left: 1%;
}
.boton-verpormas:hover{
    color: #fff;
    background-color:#C3D500;
    border-color:#C3D500;
    Box-shadow: 0 0 15px rgba(9, 176, 201, 0.7);
    transition: 1s;
}
table {
    width: 100%;
}

mat-label.letraSize.ng-star-inserted {
    font-size: 18px;
}

.estatusLinea{
    border-radius: 52px 52px 52px 52px!important;
    -moz-border-radius: 52px 52px 52px 52px!important;
    -webkit-border-radius: 52px 52px 52px 52px!important;
    border: 0px solid #000000!important;
    background-color: #a4dee7;
    text-align: center;
    padding-top: 2%;
    font-family: Duplicate Slab;
    font-weight: bolder;
    font-size: 20px;
}