<div class="row back_form">
  <!-- <div class="col-lg-6">
    <div class="row"> -->
  <!-- new -->
  <div class="col-lg-1"></div><!-- new -->
  <div class="col-lg-10">
    <!-- new -->

    <h4 class="tituloCredito">Contingentes</h4>
    <br>
    <h4>Estatus de las líneas:</h4>
    <br>

    <div class="row">
      <div class="col-lg-4">
        <div class="estatusLinea"><label>Solicitud </label></div>
      </div>
      <div class="col-lg-4">
        <div class="estatusLinea"><label>Recalificación</label></div>
      </div>
      <div class="col-lg-4">
        <div class="estatusLinea"><label>Recalificación con aumento</label></div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="estatusLinea"><label>Cancelación</label></div>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>

    <h4>Modalidad</h4>
    <div class="row">
      <div class="col-lg-4">
        <mat-form-field class="example-full-width">
          <mat-label>Modalidad</mat-label>
          <mat-select [(value)]="modalidad">
            <mat-option value="1">Cambios</mat-option>
            <mat-option value="2">Derivados</mat-option>
            <mat-option value="3">Almacenadora</mat-option>
            <mat-option value="4">Operador Programa </mat-option>
            <mat-option value="5">Adminsitración de Cartera </mat-option>
            <mat-option value="6">Posiciones de Tesorería </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>

    <div class="row" *ngIf="modalidad==1 || modalidad==4">
      <div class="col-lg-4">
        <mat-form-field class="example-full-width">
          <mat-label>Programa</mat-label>
          <mat-select [(value)]="programa">
            <mat-option *ngIf="modalidad==1" value="1">Intradía</mat-option>
            <mat-option *ngIf="modalidad==3 || modalidad==4 || modalidad==5" value="2">Programas de Milagro</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div *ngIf="modalidad==1">
          <mat-form-field class="example-full-width">
            <mat-label>Destino</mat-label>
            <mat-select [(value)]="programa">
              <mat-option value="1">Compra de Divisas</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div *ngIf="modalidad==2">
          <mat-form-field class="example-full-width">
            <mat-label>Tipo de producto</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div *ngIf="modalidad==2">
          <mat-form-field appearance="fill">
            <mat-label>THRESHOLD</mat-label>
            <input type="number" matInput>
          </mat-form-field>
          <div class="typElementDay">
            <p>%</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <h4>Moneda</h4>
        <mat-form-field class="example-full-width">
          <mat-label>Moneda</mat-label>
          <mat-select [(value)]="moneda">
            <mat-option value="1">Pesos</mat-option>
            <mat-option value="2">Dólares</mat-option>
            <mat-option *ngIf="modalidad==1 || modalidad==2" value="2">Otras Divisas</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>

    <h4 *ngIf="modalidad==1">Plazos</h4>
    <div class="row"  *ngIf="modalidad==1">
      <div class="col-lg-4">
        <mat-form-field appearance="fill">
          <mat-label class="letraSize">Plazo intradía máximo</mat-label>
          <input (blur)="plazoin()" [(ngModel)]="plazoinMax" type="number" matInput>
        </mat-form-field>
        <div class="typElementDay">
          <p>Hrs</p>
        </div>
      </div>
      <div class="col-lg-4">
        <mat-form-field appearance="fill">
          <mat-label class="letraSize">Plazo máximo (sobregiro)</mat-label>
          <input (blur)="plazosobre()" [(ngModel)]="sobregiro"  type="number" matInput>
        </mat-form-field>
        <div class="typElementDay">
          <p>Días</p>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>

    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>

    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>
  </div>
  <div class="col-lg-1"></div>
</div>