/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.boton-verpormas{
    color: #fff;
    background-color:#C3D500;
    border-color:#C3D500;
    font-family: Duplicate Slab;
    margin-left: 1%;
}
.boton-verpormas:hover{
    color: #fff;
    background-color:#C3D500;
    border-color:#C3D500;
    Box-shadow: 0 0 15px rgba(9, 176, 201, 0.7);
    transition: 1s;
}
table {
    width: 100%;
}
.tituloCredito{
    color: #3bb0c9;
}