<div class="row">
  <div class="col-lg-1"></div><!-- new -->
  <div class="col-lg-10">
      <h4 class="tituloCredito">Factoraje</h4>
        <br>
        <h4>Estatus de las líneas:</h4>
        <br>

        <div class="row">
          <div class="col-lg-4"><div class="estatusLinea"><label>Solicitud</label></div></div>
          <div class="col-lg-4"><div class="estatusLinea"><label>Recalificación</label></div></div>
          <div class="col-lg-4"><div class="estatusLinea"><label>Recalificación con aumento</label>
           
          </div></div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="estatusLinea"><label>Cancelación</label></div>
          </div>
          <div class="col-lg-4"></div>
          <div class="col-lg-4"></div>
        </div>

    <div class="row">
      <div class="col-lg-4">
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Modalidad</mat-label>
          <mat-select [(value)]="modalidad">
            <mat-option value="1">Con recurso</mat-option>
            <mat-option value="2">Proveedores</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>


    <div class="row">
      <div class="col-lg-4">
        <div *ngIf="modalidad==1">
          <mat-form-field appearance="fill">
            <mat-label>Programa</mat-label>
            <mat-select [(value)]="programa">
              <mat-option value="1">Propio</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div *ngIf="modalidad==2">
          <mat-form-field appearance="fill">
            <mat-label>Programa</mat-label>
            <mat-select [(value)]="programa">
              <mat-option value="1">NAFIN</mat-option>
              <mat-option value="2">Propio</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <mat-form-field appearance="fill">
          <mat-label>Destino</mat-label>
          <mat-select [(value)]="destino">
            <mat-option value="1">Descuento de documentos comerciales</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>

    <div class="row">

      <div class="col-lg-4">
        <mat-form-field appearance="fill">
          <mat-label>Aforo</mat-label>
          <input [(ngModel)]="aforo" min="80" max="100" step="1" (keyup) ="funcionAforo()" type="number" matInput>
        </mat-form-field>
        <div class="typElement">
          <p>%</p>
        </div>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <h4>Moneda</h4>
        <mat-form-field class="example-full-width">
          <mat-label>Moneda</mat-label>
          <mat-select [(value)]="moneda">
            <mat-option value="1">Pesos</mat-option>
            <mat-option value="2">Dólares</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>


    <h4>Plazos</h4>
    <div class="row">
      <div class="col-lg-4">
        <mat-form-field class="widthPLazo example-full-width">
          <mat-label>Plazo del Contrato</mat-label>
          <mat-select [(ngModel)]='plazContra'>
            <mat-option value="1">12</mat-option>
            <mat-option value="2">24</mat-option>
            <mat-option value="3">36</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="typElement">
          <p>Meses</p>
        </div>
      </div>
      <div class="col-lg-4">
        <mat-form-field appearance="fill">
          <mat-label>Plazo mínimo de disposición</mat-label>
          <input  [(ngModel)]="plazomin" (blur)="vali30()" type="number" matInput>
        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <mat-form-field appearance="fill">
          <mat-label>Facturas con plazo máximo</mat-label>
          <input type="number" matInput>
        </mat-form-field>
        <div class="typElement">
          <p>Días</p>
        </div>
      </div>
    </div>

    <h4>Forma de pagos</h4>
    <div class="row">
      <div class="col-lg-4">
        <mat-form-field class="example-full-width">
          <mat-label>Forma de pago de capital</mat-label>
          <mat-select [(ngModel)]='fromaCapital'>
            <mat-option value="1">A vencimiento</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>


    <div class="row">
      <div class="col-lg-4">
        <div *ngIf="modalidad==1">
          <mat-form-field class="example-full-width">
            <mat-label>Formas de pago de interes</mat-label>
            <mat-select [(ngModel)]='formaInteres'>
              <mat-option value="1">Anticipada</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="modalidad==2">
          <mat-form-field class="example-full-width">
            <mat-label>Formas de pago de interes</mat-label>
            <mat-select [(ngModel)]='pagoInteres'>
              <mat-option value="1">Pago proveedor (Anticipado)</mat-option>
              <mat-option value="2">Pago emisor (Mensual)</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>


    <h4>Tasas</h4>
    <div class="row">
      <div class="col-lg-4">
        <mat-form-field class="example-full-width">
          <mat-label class="letraSize">Tasa</mat-label>
          <mat-select #sel (selectionChange)="modalidadTasa22(sel.value)" [(value)]="tasa">
            <mat-option value="1">Variable</mat-option>
            <mat-option value="2">Fija</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="tasabase==2">
          <mat-form-field appearance="fill">
            <mat-label class="letraSize">Margen</mat-label>
            <input min="1.01" max="1.99" step=".01" [(ngModel)]='margen' (keyup)="funcioneRevision2()" type="number"
              matInput>
          </mat-form-field>
          <div class="typElement">
            <p>PP</p>
          </div>
          <p>Formato 1.XX PP</p>
        </div>
        <div *ngIf="tasabase == 1">
          <mat-form-field appearance="fill">
            <mat-label class="letraSize labelNegro">Tasa moratoria</mat-label>
            <input [(ngModel)]="tasaMorafija" class="labelNegro" [disabled]="true" #sel1 (blur)="pptos()" type="text"
              matInput>
          </mat-form-field>
        </div>
        <div *ngIf="pagoInteres == 2">
              <!-- <mat-form-field appearance="fill">
                <mat-label class="letraSize">Tasa moratoria</mat-label>
                <input [(ngModel)]="tasaMora" id="tasamora" (click)="limpiar()" #sel1 (blur)="pptos()" type="number" matInput>
              </mat-form-field> -->
            </div>
      </div>

      <div class="col-lg-4">
        <div *ngIf="tasa==1">
          <div *ngIf="moneda==1">
            <mat-form-field class="example-full-width">
              <mat-label class="letraSize">Tasa Base</mat-label>
              <mat-select [(ngModel)]="tasabase">
                <mat-option value="1">TIIE </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="moneda==2">
            <mat-form-field class="example-full-width">
              <mat-label class="letraSize">Tasa Base</mat-label>
              <mat-select [(ngModel)]="tasabase">
                <mat-option value="2">LIBOR</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="tasa==2">
          <mat-form-field appearance="fill">
            <mat-label class="letraSize">Margen</mat-label>
            <input min="1.01" max="1.99" step=".01" [(ngModel)]='margen' (keyup)="funcioneRevision2()" type="number"
              matInput>
          </mat-form-field>
          <div class="typElement">
            <p>PP</p>
          </div>
          <p>Formato 1.XX PP</p>
        </div>

        <!-- <div *ngIf="tasabase == 1 && tasa== 1">
              <mat-form-field appearance="fill">
                <mat-label class="letraSize">Tasa moratoria</mat-label>
                <input [(ngModel)]="tasaMora" id="tasamora" (click)="limpiar()" #sel1 (blur)="pptos()" type="number" matInput>
              </mat-form-field>
            </div>   -->
        <div *ngIf="tasabase == 2 && tasa== 1">
          <mat-form-field appearance="fill">
            <mat-label class="letraSize labelNegro">Tasa moratoria</mat-label>
            <input class="labelNegro" [(ngModel)]="tasaMorafija" [disabled]="true" #sel1 (blur)="pptos()" type="text"
              matInput>
          </mat-form-field>
        </div>


        <div *ngIf="pagoInteres == 2">
          <mat-form-field appearance="fill">
            <mat-label class="letraSize labelNegro">Plazo de la tasa base</mat-label>
            <input class="labelNegro" value="TIIE 30 Días" [disabled]="true" #sel1 (blur)="pptos()" type="text"
              matInput>
          </mat-form-field>
        </div>


      </div>

      <div class="col-lg-4">
        <div *ngIf="tasa == 2">
          <mat-form-field appearance="fill">
            <mat-label class="letraSize labelNegro">Tasa moratoria</mat-label>
            <input class="labelNegro" [(ngModel)]="tasaMorafija" [disabled]="true" #sel1 (blur)="pptos()" type="text"
              matInput>
          </mat-form-field>
        </div>
        <div *ngIf="tasabase==2">
          <mat-form-field class="example-full-width">
            <mat-label class="letraSize">LIBOR</mat-label>
            <mat-select [(value)]="libor">
              <mat-option value="1">30</mat-option>
              <mat-option value="2">60</mat-option>
              <mat-option value="3">90</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="tasabase==1">
          <mat-form-field appearance="fill">
            <mat-label class="letraSize">Margen</mat-label>
            <input min="1.01" max="1.99" step=".01" [(ngModel)]='margen' (keyup)="funcioneRevision2()" type="number"
              matInput>
          </mat-form-field>
          <div class="typElement">
            <p>PP</p>
          </div>
          <p>Formato 1.XX PP</p>
        </div>
        <!-- <div  *ngIf="tasabase == 2 && tasa== 1">
              <mat-form-field appearance="fill">
                <mat-label class="letraSize">Tasa moratoria</mat-label>
                <input [(ngModel)]="tasaMora" id="tasamora" (click)="limpiar()" #sel1 (blur)="pptos()" type="number" matInput>
              </mat-form-field>
            </div> -->
      </div>

    </div>
    <br>
    <mat-slide-toggle [(ngModel)]="newTasa">Agregar otra tasa?</mat-slide-toggle>
    <br>
    <br>
    <div *ngIf="newTasa==true">
      <h4>Tasas 2</h4>
      <div class="row">
        <div class="col-lg-4">
          <mat-form-field class="example-full-width">
            <mat-label class="letraSize">Tasa</mat-label>
            <mat-select #sel (selectionChange)="modalidadTasa222(sel.value)" [(value)]="tasa2">
              <mat-option value="1">Variable</mat-option>
              <mat-option value="2">Fija</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="tasabase2==2">
            <mat-form-field appearance="fill">
              <mat-label class="letraSize">Margen</mat-label>
              <input min="1.01" max="1.99" step=".01" [(ngModel)]='margen2' (keyup)="funcioneRevision22()" type="number"
                matInput>
            </mat-form-field>
            <div class="typElement">
              <p>PP</p>
            </div>
            <p>Formato 1.XX PP</p>
          </div>
          <div *ngIf="tasabase2 == 1">
            <mat-form-field appearance="fill">
              <mat-label class="letraSize labelNegro">Tasa moratoria</mat-label>
              <input [(ngModel)]="tasaMorafija2" class="labelNegro" [disabled]="true" #sel1 (blur)="pptos()" type="text"
                matInput>
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-4">
          <div *ngIf="tasa2==1">
            <div *ngIf="moneda==1">
              <mat-form-field class="example-full-width">
                <mat-label class="letraSize">Tasa Base</mat-label>
                <mat-select [(ngModel)]="tasabase2">
                  <mat-option value="1">TIIE </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div *ngIf="moneda==2">
              <mat-form-field class="example-full-width">
                <mat-label class="letraSize">Tasa Base</mat-label>
                <mat-select [(ngModel)]="tasabase2">
                  <mat-option value="2">LIBOR</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="tasa2==2">
            <mat-form-field appearance="fill">
              <mat-label class="letraSize">Margen2</mat-label>
              <input min="1.01" max="1.99" step=".01" [(ngModel)]='margen2' (keyup)="funcioneRevision22()" type="number"
                matInput>
            </mat-form-field>
            <div class="typElement">
              <p>PP</p>
            </div>
            <p>Formato 1.XX PP</p>
          </div>
          <div *ngIf="tasabase2 == 2 && tasa2== 1">
            <mat-form-field appearance="fill">
              <mat-label class="letraSize labelNegro">Tasa moratoria</mat-label>
              <input class="labelNegro" [(ngModel)]="tasaMorafija2" [disabled]="true" #sel1 (blur)="pptos()" type="text"
                matInput>
            </mat-form-field>
          </div>


          <div *ngIf="pagoInteres == 2">
            <mat-form-field appearance="fill">
              <mat-label class="letraSize labelNegro">Plazo de la tasa base</mat-label>
              <input class="labelNegro" value="TIIE 30 Días" [disabled]="true" #sel1 (blur)="pptos()" type="text"
                matInput>
            </mat-form-field>
          </div>

        </div>

        <div class="col-lg-4">
          <div *ngIf="tasa2 == 2">
            <mat-form-field appearance="fill">
              <mat-label class="letraSize labelNegro">Tasa moratoria</mat-label>
              <input class="labelNegro" [(ngModel)]="tasaMorafija2" [disabled]="true" #sel1 (blur)="pptos()" type="text"
                matInput>
            </mat-form-field>
          </div>
          <div *ngIf="tasabase2==2">
            <mat-form-field class="example-full-width">
              <mat-label class="letraSize">LIBOR</mat-label>
              <mat-select [(value)]="libor">
                <mat-option value="1">30</mat-option>
                <mat-option value="2">60</mat-option>
                <mat-option value="3">90</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="tasabase2==1">
            <mat-form-field appearance="fill">
              <mat-label class="letraSize">Margen</mat-label>
              <input min="1.01" max="1.99" step=".01" [(ngModel)]='margen2' (keyup)="funcioneRevision22()" type="number"
                matInput>
            </mat-form-field>
            <div class="typElement">
              <p>PP</p>
            </div>
            <p>Formato 1.XX PP</p>
          </div>
        </div>

      </div>
    </div>

    <h4>Comisiones</h4>
    <div class="row">
      <div class="col-lg-4">
        <mat-form-field class="example-full-width">
          <mat-label class="letraSize">Comision</mat-label>
          <mat-select [(value)]="comision">
            <mat-option value="Apertura">Apertura </mat-option>
                <mat-option value="Disposición">Disposición </mat-option>
                <mat-option value="Aniversario">Aniversario </mat-option>
                <mat-option value="Estructuración">Pago Anticipado</mat-option>
                <mat-option value="Administración">Administración </mat-option>
                <mat-option value="Estructuración">Estructuración </mat-option>
          </mat-select>
        </mat-form-field>
        <table>
          <tr *ngFor="let item of lista">
            <td>
              {{item.comsion}}
            </td>
            <td>
              {{item.porcentaje}}%
            </td>
          </tr>
        </table>
      </div>
      <div class="col-lg-4">
        <mat-form-field appearance="fill">
          <mat-label class="letraSize">Comision</mat-label>
          <input  [(ngModel)]='porComision' type="number"  min="1.01" max="1.99" step=".01" (keyup)="funcioneRevision()"
            matInput>
        </mat-form-field>
        <div class="typElement">
          <p>%</p>
        </div>
      </div>
      <div class="col-lg-4">
        <button mat-button class="boton-verpormas" (click)="addlista()">Agregar</button>
      </div>
    </div>


    <h4>Otras Condiciones</h4>

    <div class="row">
      <div class="col-lg-4">
        <mat-form-field class="example-full-width">
          <mat-label class="letraSize">Fuente de Fondeo </mat-label>
          <mat-select [(value)]="fondeo">
            <mat-option value="1">Propio</mat-option>
            <mat-option value="2">NAFIN</mat-option>
            <mat-option value="3" *ngIf="modalidad==2">FIRA</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>



    <div class="row" *ngIf="modalidad==1">

      <div class="col-lg-4">
        <div *ngIf="modalidad==1">
          <mat-form-field class="example-full-width">
            <mat-label>Tipo de Cobranza </mat-label>
            <mat-select [(ngModel)]='tipoCobra'>
              <mat-option value="1">Directa</mat-option>
              <mat-option value="2">Delegada</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="col-lg-4">
        <div *ngIf="tipoCobra==2 && modalidad==1">
          <mat-form-field appearance="fill">
            <mat-label>Depositario legal</mat-label>
            <input type="text" matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>


    <div class="row" *ngIf="modalidad==1">

      <div class="col-lg-4">


        <mat-form-field appearance="fill">
          <mat-label>Cliente a desscontar</mat-label>
          <input [(ngModel)]='nombreclien' type="text" matInput>
        </mat-form-field>

        <table>
          <tr *ngFor="let item of listacli">
            <td>
              {{item.name}}
            </td>
          </tr>
        </table>


      </div>
      <div class="col-lg-4">
        <button mat-button class="boton-verpormas" (click)="addlista2()">Agregar</button>
      </div>
      <div class="col-lg-4"></div>
    </div>



  </div><!-- Fin de la primera midad -->
  <!-- Segunda parte -->
  <div class="col-lg-1"></div>
</div>